{% extends 'blog/base.html' %}

{% block content %}
  <div class="post">
    {% if object.published_date %}
      <div class="date">
        {{ object.published_date }}
      </div>
    {% endif %}
		{% if user.is_authenticated %}
		<a class="btn btn-default" href="{% url 'blog:post_edit' pk=object.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
		{% endif %}
    <h1>{{ object.title }}</h1>
    <p>{{ object.content|linebreaksbr }}</p>
  </div>
{% endblock %}

