{% extends 'blog/base.html' %}

{% block content %}
{% for i in object_list %}
	<div class="post">
		<div class="date">
			<p>published: {{ i.published_date }}</p>
		</div>
		<h1><a href="{% url 'blog:post_detail' pk=i.pk %}">{{ i.title }}</a></h1>
		<p>{{ i.content|linebreaksbr }}</p>
	</div>
{% endfor %}
{% endblock %}

